/* FONT-FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* TAILWIND-CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL-STYLE */
* {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
}

/* HIDE SCROLLBAR BUT KEEP FUNCTIONALITY */
/* ::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
} */
